<%- include("../partials/header") %>

<div class="myBody">
	<div class="myLogin">
		Username <br/>
        <form action="/posts" method="POST">
        <input type="text" class="form-control myInput" name="fullname" placeholder="e.g. Madam Welminster"/>
        <input type="submit" class="btn btn-outline-primary mySubmit" value="Cluck!">
        </form>
    </div>
    <br clear="all">
</div>

<%- include("../partials/footer") %>